@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

*{
  font-family: "Open Sans", sans-serif;
}

body{
  width: 100%;
}
section {
  display: inline-block;
  min-height: 750px;
  /*width: 50%;*/
  /*height: auto;*/
}

#input-side{
  float: left;
  background-color: #455A64;
  width: 50%;
  display: inline-block;

}
#display-side{
  display: inline-block;
  background-color: #CFD8DC;
  width: 50%;
  align-content: space-around;
}

header{
  width: 100%;
  padding-top: 150px;
}

input {
  display: block;
  width: 315px;
  margin: 30px auto 0 auto;
  font-size: 22px;
  padding-left: 5px;
  letter-spacing: 1px;
}

input:focus{
  outline: none;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  font-size: 45px;
}

h1 img {
  width: 55px;
  vertical-align: middle;
}

h2 {
  color: #455A64;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5%;
}

h3{
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  color: #FFFFFF;
}

a {
  display: inline-block;
  color: #607D8B;
  text-decoration: none;
  border-bottom: solid 2px #F2F4F4;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25px;
}

a:hover{
  font-weight: 800;
  color: #455A64;
  text-decoration: none;
  border-bottom: solid 3px #FFC107;
}

p{
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 1px;
}

#enter-button, #clear-button {
  background: #FFC107;
  color: #FFFFFF;
  border-style: none;
  display: block;
  width: 325px;
  font-weight: 800;
  margin: 30px auto 0 auto;
  font-size: 26px;
  padding-left: 5px;
  letter-spacing: 1px;
}

#enter-button:hover,
#clear-button:hover {
  background: #FFD773;
}

#enter-button:active,
#clear-button:active {
  background: #fccb5a;
}

#enter-button:disabled,
#clear-button:disabled {
  background: #dbc695;
}

#enter-button:focus,
.read:focus,
.delete:focus,
#clear-button:focus {
  outline: none;
}

#bottom-bookmark {
  margin-bottom: 10px;
}

.bookmarks {
  background-color: #ffffff;
  display: block;
  margin: 10px auto 10px auto;
  border: solid 1px #607d8b;
  width: 90%;
  padding-bottom: 7px;
}

.bookmarks hr {
  color: #cfd8dc;
  width: 86%;
  size: 1px;
}

.read, .delete {
  position: relative;
  display: inline;
  padding: 0px;
  background: none;
  border: none;
  border-bottom: solid 2px #F2F4F4;
  color: #455A64;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
}

.read{

  margin-right: auto;
  left: 7%;
}

.delete {
  margin-left: auto;
  left: 72%;
}

.read:hover, .delete:hover{
  font-weight: 800;
  color: #455A64;
  text-decoration: none;
  border-bottom: solid 3px #FFC107;
}

.read-bookmark {
  background: #F2F4F4;
}

.read-link {
  text-decoration: none;
  border-bottom: solid 2px;
  border-bottom-color: #CFD8DC;
}

.read-button {
   color: #F05A28;
}

.read-button:hover {
   color: #F05A28;
   font-weight: 800;
   text-decoration: none;
   border-bottom: solid 3px #FFC107;
}
/*@media screen and (max-width : 768px){
}*/

@media screen and (max-width : 768px){
  section {
    display: inline-block;
    width: 100%;
  }

  #input-side{
    width: 100%;
    min-height: 420px;
  }

  #display-side{
    width: 100%;
    min-height: 345px;
  }

  input {
    width: 260px;
    margin: 17px auto 0 auto;
    font-size: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  header{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  input {
    width: 260px;
    margin: 17px auto 0 auto;
    font-size: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #enter-button, #clear-button {
    width: 270px;
    margin: 20px auto 0 auto;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }

  h1 img {
    width: 40px;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 40px;
  }

  h3{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
  }

  p{
    margin-top: 30px;
    font-size: 18px;
  }

  a {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
    font-size: 16px;
  }

  .bookmarks {
    display: block;
    margin: 10px auto 10px auto;
    width: 75%;
    padding-bottom: 7px;
  }

  .bookmarks hr {
    /*width: 245px;*/
    width: 85%;
    size: 1px;
  }

  .read, .delete {
    position: relative;
    font-size: 16px;
  }

  .read{
    margin-right: auto;
    left: 7%;
  }

  .delete {
    margin-left: auto;
    left: 69%;
  }

}

@media screen and (max-width : 320px){

  section {
    display: inline-block;
    width: 100%;
  }

  #input-side{
    width: 100%;
    min-height: 240px;

  }
  #display-side{
    width: 100%;
    min-height: 345px;
  }

  header{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  input {
    width: 260px;
    margin: 17px auto 0 auto;
    font-size: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #enter-button, #clear-button {
    width: 270px;
    margin: 20px auto 0 auto;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  h1 img {
    width: 35px;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  h3{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
  }

  p{
    margin-top: 30px;
    font-size: 16px;
  }

  a {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 16px;
  }

  .bookmarks {
    display: block;
    margin: 10px auto 10px auto;
    width: 90%;
    padding-bottom: 7px;
  }

  .bookmarks hr {
    /*width: 245px;*/
    width: 86%;
    size: 1px;
  }

  .read, .delete {
    font-size: 14px;
  }

  .read{
    margin-right: auto;
    left: 7%;
  }

  .delete {
    margin-left: auto;
    left: 55%;
  }

}
