@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


/*----Main Styling----*/
*{
  font-family: "Open Sans", sans-serif;
}

/*----Structure---*/
body {
  width: 100%;
}

section {
  display: inline-block;
  min-height: 750px;
}

#input-side {
  /*Structure/Layout*/
  display: inline-block;
  float: left;

  /*Styling*/
  background-color: #455A64;
  width: 50%;

}

#display-side {
  /*Structure/Layout*/
  display: inline-block;

  /*Styling*/
  background-color: #CFD8DC;
  width: 50%;
}

header {
  /*Structure/Layout*/
  padding-top: 150px;

  /*Styling*/
  width: 100%;
}

.bookmarks {
  /*Structure/Layout*/
  display: block;
  margin: 10px auto 10px auto;
  padding-bottom: 7px;

  /*Styling*/
  background-color: #ffffff;
  border: solid 1px #607d8b;
  width: 90%;
}

.bookmarks hr {
  /*Styling*/
  color: #cfd8dc;
  size: 1px;
  width: 86%;
}

/*---Text Styling---*/

h1 {
  /*Styling*/
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  font-size: 45px;
}

h1 img {
  /*Styling*/
  width: 55px;
  vertical-align: middle;
}

h2 {
  /*Structure/Layout*/
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 25px;


  color: #455A64;
  font-weight: 400;

}

h3 {
  /*Structure/Layout*/
  margin-top: 10px;

  /*Styling*/
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
}

a {
  /*Structure/Layout*/
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 25px;

  /*Styling*/
  color: #607D8B;
  text-decoration: none;
  border-bottom: solid 2px #F2F4F4;
}

a:hover {
  /*Styling*/
  border-bottom: solid 3px #FFC107;
  color: #455A64;
  font-weight: 800;
  text-decoration: none;
}

p {
  /*Structure/Layout*/
  margin-top: 30px;

  /*Styling*/
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}


/*----Interactivity Styling---*/

input {
  /*Structure/Layout*/
  display: block;
  margin: 30px auto 0 auto;
  padding-left: 5px;

  /*Styling*/
  font-size: 22px;
  letter-spacing: 1px;
  width: 73%;
}

input:focus {
  outline: none;
}

#enter-button, #clear-button {
  /*Structure/Layout*/
  display: block;
  margin: 30px auto 0 auto;
  padding-left: 5px;

  /*Styling*/
  background: #FFC107;
  border-style: none;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  width: 75%;
}

#enter-button:hover,
#clear-button:hover {
  background: #FFD773;
}

#enter-button:active,
#clear-button:active {
  background: #fccb5a;
}

#enter-button:disabled,
#clear-button:disabled {
  background: #dbc695;
}

#enter-button:focus,
.read:focus,
.delete:focus,
#clear-button:focus {
  outline: none;
}

#bottom-bookmark {
  margin-bottom: 10px;
}



.read, .delete {
  /*Structure/Layout*/
  display: inline;
  padding: 0px;
  position: relative;

  /*Styling*/
  background: none;
  border: none;
  border-bottom: solid 2px #F2F4F4;
  color: #455A64;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
}

.read{
margin-left: 25px;
}

.delete {
float: right;
margin-right: 25px;
}

.read:hover, .delete:hover {
  /*Styling*/
  border-bottom: solid 3px #FFC107;
  color: #455A64;
  font-weight: 800;
  text-decoration: none;
}

.read-bookmark {
  background: #F2F4F4;
}

.read-link {
  /*Styling*/
  border-bottom: solid 2px;
  border-bottom-color: #CFD8DC;
  text-decoration: none;
}

.read-button {
   color: #F05A28;
}

.read-button:hover {
  /*Styling*/
  border-bottom: solid 3px #FFC107;
  color: #F05A28;
  font-weight: 800;
  text-decoration: none;

}



/*-----Media Queries------*/

@media screen and (max-width : 768px) {
  section {
    /*Structure/Layout*/
    display: inline-block;

    /*Styling*/
    width: 100%;
  }

  #input-side {
    /*Styling*/
    width: 100%;
    min-height: 420px;
  }

  #display-side {
    /*Styling*/
    width: 100%;
    min-height: 345px;
  }

  input {
    /*Structure/Layout*/
    margin: 17px auto 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;

    /*Styling*/
    font-size: 22px;
    width: 58%;

  }

  header{
    /*Structure/Layout*/
    padding-top: 40px;
    padding-bottom: 0px;

    /*Styling*/
    width: 100%;
  }

  #enter-button, #clear-button {
    /*Structure/Layout*/
    margin: 20px auto 0 auto;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;

    /*Styling*/
    font-size: 18px;
    width: 60%;

  }

  h1 {
    /*Structure/Layout*/
    margin-bottom: 25px;

    /*Styling*/
    font-size: 40px;
  }

  h1 img {
    /*Styling*/
    width: 40px;
  }

  h2 {
    /*Structure/Layout*/
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 25px;

    /*Styling*/
    font-size: 1.25em;
  }

  h3 {
    /*Structure/Layout*/
    margin-top: 10px;

    /*Styling*/
    font-size: 16px;
    font-weight: 400;

  }

  p {
    /*Structure/Layout*/
    margin-top: 30px;

    /*Styling*/
    font-size: 18px;
  }

  a {
    /*Structure/Layout*/
    float: left;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 25px;

    /*Styling*/
    font-size: 16px;
  }

  .bookmarks {
    /*Structure/Layout*/
    display: block;
    margin: 10px auto 10px auto;
    padding-bottom: 7px;

    /*Styling*/
    width: 75%;
  }

  .bookmarks hr {
    /*Styling*/
    width: 85%;
    size: 1px;
  }

  .read, .delete {
    /*Styling*/
    font-size: 16px;
  }



@media screen and (max-width : 320px){

  section {
    /*Structure/Layout*/
    display: inline-block;

    /*Styling*/
    width: 100%;
  }

  #input-side {
    /*Styling*/
    width: 100%;
    min-height: 240px;
  }

  #display-side{
    /*Styling*/
    width: 100%;
    min-height: 345px;
  }

  header {
    /*Structure/Layout*/
    padding-top: 5px;
    padding-bottom: 0px;

    /*Styling*/
    width: 100%;
  }

  input {
    /*Structure/Layout*/
    margin: 17px auto 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;

    /*Styling*/
    font-size: 22px;
    width: 260px;
  }

  #enter-button, #clear-button {
    /*Structure/Layout*/
    margin: 20px auto 0 auto;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;

    /*Styling*/
    font-size: 18px;
    width: 270px;
  }

  h1 {
    /*Structure/Layout*/
    margin-bottom: 25px;

    /*Styling*/
    font-size: 25px;
  }

  h1 img {
    width: 35px;
  }

  h2 {
    /*Structure/Layout*/
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 20px;

    /*Styling*/
    font-size: 1.25em;
  }

  h3 {
    /*Structure/Layout*/
    margin-top: 10px;

    /*Styling*/
    font-size: 16px;
    font-weight: 400;
  }

  p {
    /*Structure/Layout*/
    margin-top: 30px;

    /*Styling*/
    font-size: 16px;
  }

  a {
    /*Structure/Layout*/
    float: left;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 20px;

    /*Styling*/
    font-size: 16px;

  }

  .bookmarks {
    /*Structure/Layout*/
    display: block;
    padding-bottom: 7px;
    margin: 10px auto 10px auto;

    /*Styling*/
    width: 90%;
  }

  .bookmarks hr {
    /*Styling*/
    width: 86%;
    size: 1px;
  }

  .read, .delete {
    /*Styling*/
    font-size: 14px;
  }

  .read{
    /*Structure/Layout*/
    margin-left: 25px;
    }

  .delete {
    /*Structure/Layout*/
    float: right;
    margin-right: 25px;
    }

}
